
*.~*
__history
__recovery
# Delphi compiler-generated binaries (safe to delete)
*.exe
#*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
log
cache
temp
*.dcu

